a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 15px;
    color: #5EE6EB; /* 2196f3 */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    transition: 0.2s;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;

}
a:hover{
    color:#010b13;
    background: #5EE6EB;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    transition-delay: -1s;
}
.text a{
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    margin-right: 15px;
    margin-top: 60px;
    color: #15F5BA; /* 2196f3 */
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 21px;
    overflow: hidden;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    width: 610px;
}
.text a:hover{
    color:#010b13;
    background: #15F5BA;
    box-shadow: 0 0 10px #15F5BA,0 0 40px #15F5BA,0 0 80px #15F5BA;
    transition-delay: -1s;
    width: 620px;
}
body{
    display:grid;
    grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
    grid-template-rows: 150px 1fr 60px;
    grid-template-columns: 5% 1fr 5%;
    grid-gap:1px;
    height:100vh;
    margin:0;
    padding: 0;
    /*background-color: #031321;*/
    font-family:consolas;
}

/*body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#031321;
    font-family:consolas;
 }*/

ul{
    list-style-type: none;
    margin: 0;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 0px;
    overflow: hidden;
    
}
li{
   float: left;
   padding: 10px 5px;
}
.port{
    margin-left: 700px;
    margin-top: 10px;
}
#list{
    padding-left: 5px;
    margin-left: 5px;
}
footer,article,nav,div{
    padding:5px;
    background:#101820;
}
header{
    margin-top: 0px;
    background:#101820;
    width: 100%;
}
#pageHeader{
    grid-area:header;
}
#pagefooter{
    grid-area:footer;
}
#mainArticle{
    grid-area:article;
    padding-top: 40px;
}
#mainNav{
    grid-area:nav;
}
#siteAds{
    grid-area:ads
}
article{
    font-size: 40px;
}
.fh1{
    color: #5EE6EB;
    font-size: 30px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin-left: 130px;
    margin-top: 180px;
    padding-top: 150px;
}
.fhh1{
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-indent: 0px;
    margin-left: 0px;
    font-size: 60px;
    color: #5EE6EB;
    padding: 0;
    letter-spacing: 4px;
}
h2{
    color: #E90064;
    font-size: 23px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 500;
    font-style: normal;

}
.photo{
    float: inline-end;
    margin-top: 10px;
    align-items: flex-end;
    padding-right: 100px;
}
.photo1{
    float: left;
    margin-left: 30px;
    padding: 30px;
}
.im{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.about{
    color: #5EE6EB;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 490px;
}
.about2{
    color: #5EE6EB;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 310px;
}
.about3{
    color: #5EE6EB;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 500px;
}
.aboutme1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    width: 600px;
}
.aboutme p {
margin: 10px 0;
line-height: 1.2;
}
.len{
min-height: 100vh;
}
.words1{
margin-left: 140px;
font-size: 20px;
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
color: #15F5BA;
letter-spacing: 3px;
margin-top: 0px;
}
td{
margin-left: 90px;
padding-left: 50px;
padding-right: 50px;
align-items: center;
}
table{
margin-left: 27px;
}
.skillbox a{
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    margin-right: 15px;
    margin-top: 60px;
    color: #15F5BA; /* 2196f3 */
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 21px;
    overflow: hidden;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    width: 200px;
}
.skillbox a:hover{
    color:#010b13;
    background: #15F5BA;
    box-shadow: 0 0 10px #15F5BA,0 0 40px #15F5BA,0 0 80px #15F5BA;
    transition-delay: -1s;
    width: 210px;
}
.heading{
    margin-left: 450px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #E90064;

}
.heading2{
    margin-left: 600px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #E90064;
}
.container a{
    width: 270px;
    height: 270px;
    background: #F4CE14;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 0.2s;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #101820;
}
/*.container a:hover{
    color:#010b13;
    background: #FBD85D;
    box-shadow: 0 0 10px #FD8D14,0 0 40px #FD8D14,0 0 80px #FD8D14;
    transition-delay: -1s;
    width: 275px;
    height: 275px;
}*/
.imgcont{
    cursor: pointer;
    transition: 0.2s;
}
.imgcont:hover{
    /*box-shadow: 0 0 10px #FD8D14,0 0 40px #FD8D14,0 0 80px #FD8D14;*/
    width: 160px;
}
.contfont{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #101820;
    text-align: center;
}
.logo{
    padding-left: 55px;
    padding-right: 50px;
}
.im a:hover{
    color:#010b13;
    background: #5EE6EB;
    /*box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;*/
    transition-delay: -1s;
}
.proim1{
    margin-left: 100px;
    margin-top: 20px;
}
.prohead1{
    margin-right: 150px;
    float: right;
    text-align: justify;
    color: #F4CE14;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 40px;
}
.prosubhead1{
    margin-right: 150px;
    float: right;
    text-align: justify;
    color: #F4CE14;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 30px;
    margin-bottom: 50;
}
.domain{
    color: #15F5BA;
}
.dcolor{
    color: #5EE6EB;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    width: 100%;
}
.card{
    width: 400px;
    height: 520px;
    border: 5px solid #15F5BA;
    position: relative;
    border-radius: 15px;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.text2{
    width: 400px;
    height: 520px;
    position: absolute;
    top: 0;
    right: -120%;
    background: #3a525071;
    backdrop-filter: blur(5px);
    /* color: #edf6f9; */
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: 1s;
}
.text2 h1{
    color: #F4CE14;
    font-size: 39px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 5.36px 5.896px #392920,0 -2px 1px #fa5a1f;
}
.text2 p{
    margin-top: 3rem;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 400;
    color: #5EE6EB;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.card:hover .text2{
    left: 0;
    width: 400px;
    height: 520px;
    display: inline-block;
    right: 0;
}
.cont img{
width: 70px;
}
.cont td{
margin-top: 400px;
padding-top: 200px;
padding-left: 100px;
}
.elem td{
padding-top: 10px;
padding-left: 0;
}

.mail{
font-size: 15px;
color: #F4CE14;
margin-left: 100px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;

}
.slogan{
color: #F4CE14;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 30px;
margin-left: 400px;
}
.footfont{
color: #15F5BA;
text-align: center;
}

